<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit document</title>
</head>
<body>
<h1>Edit document</h1>
<form th:action="@{/sign/{document}}" th:object="${document}" method="post">
    If you want to put your signature for this document press
    <input type="submit" value="Put signature"/>
</form>
<form th:action="@{delete/{document}}" th:object="${document}" method="post">
    If you want to delete this document press
    <input type="submit" value="Delete document"/>
</form>
<form th:action="@{/upload}" th:object="${document}" method="post">
    If you want to upload a document for this assignment press
    <input type="submit" value="Upload document"/>
</form>
<a href="main.html">Back to assignment list</a>
</body>
</html>