<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit assignment</title>
</head>
<body>
    <h1>Edit a assignment</h1>
    <form th:action="@{/cancel/{assignment}}" th:object="${assignment}" method="post">
        If you want to cancel this assignment press
        <input type="submit" value="Cancel assignment"/>
    </form>
    <form th:action="@{/submit/{assignment}}" th:object="${assignment}" method="post">
        If you want to submit this assignment fo revision press
        <input type="submit" value="Submit to revision"/>
    </form>
    <form th:action="@{/upload}" th:object="${assignment}" method="post">
        If you want to upload a document for this assignment press
        <input type="submit" value="Upload document"/>
    </form>
    <a href="main.html">Back to assignment list</a>
</body>
</html>